# Virtual environments
.venv
venv
.goal-env
env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Database
*.db
*.sqlite3

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/
